/*= require_self */
/*= require jquery.ui.slider */
@import 'compass'
@import 'compass_twitter_bootstrap_awesome'

path
  stroke: steelblue
  stroke-width: 1
  fill: none

.ma1
  stroke: red
.ma2
  stroke: green

#graph
  height: 300px


.axis 
  shape-rendering: crispEdges


.x.axis line 
  stroke: #CCC
  stroke-opacity: .5


.x.axis .minor 
  display: none


.x.axis path 
  
.y.axis line, .y.axis path 
  fill: none
  stroke: #000


td.number  
  text-align: right  


form.form-inline
  margin-bottom: 6px

.slider  
  margin-top: 6px

html
  overflow-y: scroll