/*= require_self */
/*= require jquery.ui.slider */
@import 'bootstrap'


$buy-color: #336FD4
$sell-color: #FF2B2B

$axis-color: lightgrey
$price: 7A7664
$ma0: #E0CD1B
$ma1: #8723D9

path
  stroke: grey
  stroke-width: 1
  fill: none

.actions button
  margin-top: 3px
  margin-bottom: 3px

.l
  margin-bottom: 5px

.l2
  margin-top: 5px

.m1-handle
  background-color: lighten($ma1, 40%)

.m0-handle
  background-color: lighten($ma0, 40%)

.buy
  stroke: $buy-color
.sell
  stroke: $sell-color

.ma1
  stroke: $ma1

.flr
  float: right

#ma1
  background-color: lighten($ma1, 40%)

#ma0
  background-color: lighten($ma0, 40%)

.ma0
  stroke: $ma0

#graph
  height: 300px
#tradeList
  height: 250px
  overflow-y: auto


.axis 
  shape-rendering: crispEdges


.x.axis line 
  stroke: $axis-color
  stroke-opacity: .5


.x.axis .minor 
  display: none


.x.axis path, .y.axis line, .y.axis path 
  fill: none
  stroke: $axis-color


td.number  
  text-align: center  


form.form-inline
  margin-bottom: 6px

.slider  
  margin-top: 6px

html
  overflow-y: scroll

.input-tini
  width: 30px
  text-align: center

.input-vsmall
  width: 40px
  text-align: center


.Buy .dir
  color: $buy-color

.Sell .dir
  color: $sell-color

path.selected
  stroke-width: 3